#main {
	background: #1e77ae url('../images/discharged.jpg') center top no-repeat;
	overflow: hidden;
	color: white;
	font-size: 22px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

#main #content {
	position: absolute;
	left: 289px;
	top: 225px;
	width: 692px;
	height: 287px;
	padding: 25px;
	text-align: center;
}

#main #content p {
    font-size: 30px;
	line-height: 48px;
	text-shadow: 1px 1px 5px #000;
}

#main #datetime {
	position: absolute;
	top: 25px;
	right: 55px;
	font-size: 24px;
	text-shadow: 1px 1px 5px #000;
}

#main #offline {
	position: absolute;
	background: url(../images/offline.png) left top no-repeat;
	top: 235px;
	left: 960px;
	width: 56px;
	height: 42px;
}

#main #buttons {
	width: 700px;
	height: 100px;
	top: 200px;
	position: absolute;
	text-align: center;
}

#main #buttons a {
	width: 100px;
	height: 98px;
	margin: 0px 10px 0px 10px;
	cursor: pointer;
	position: relative;
	font-size: 16px;
	line-height: 170px;
	text-align: center;
	vertical-align: text-bottom;
	color: rgba(255, 255, 255, 1.00);	
	text-shadow: 1px 1px 5px #000;
	display: inline-block;
}

#main #buttons a#nav-watchtv {
	background: url(../images/icon_kpws_tv.png) top center no-repeat;
}
